{
    "contact": {
        "config": {
            "method":"post",
            "action":"",
            "id":"contact",
            "sendTo":"info@example.com",
            "resourcesPath":"/vendor/pfbc/pfbc/PFBC/Resources",
            "formSuccess":"Thank you for your submission, we will be in touch soon.",
            "prevent":{"0":"bootstrap", "1":"jQuery"}
        },
        "fields":[
            {
                "name":"name",
                "type":"text",
                "label":"Name",
                "attr": {
                    "placeholder":"John Smith",
                    "required":"1"
                }
            },
            {
                "name":"email",
                "type":"email",
                "label":"Email",
                "attr": {
                    "placeholder":"johnsmith@example.com",
                    "required":"1"
                },
                "validate":"email"
            },
            {
                "name":"message",
                "type":"textarea",
                "label":"Message",
                "attr": {
                    "placeholder":"",
                    "required":"1"
                }
            },
            {
                "name":"submit",
                "type":"submit",
                "label":"Send"
            }
        ]
    }
}
